:root {
    --primary-color: #ec1f55;
    --text-color: #333;
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
  }
  
  body {
    background-color: #f5f5f5;
  }
  
  html {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  .player {
    position: relative;
    max-width: 480px;
    margin: 0 auto;
  }
  
  .player .icon-pause {
    display: none;
  }
  
  .player.playing .icon-pause {
    display: inline-block;
  }
  
  .player.playing .icon-play {
    display: none;
  }
  
  .dashboard {
    padding: 16px 16px 2px;
    background-color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 480px;
    border-bottom: 1px solid #ebebeb;
  }
  
  /* HEADER */
  header {
    text-align: center;
    margin-bottom: 10px;
  }
  
  header h4 {
    color: var(--primary-color);
    font-size: 12px;
  }
  
  header h2 {
    color: var(--text-color);
    font-size: 20px;
  }
  
  /* CD */
  .cd {
    display: flex;
    margin: auto;
    width: 200px;
  }
  
  .cd-thumb {
    width: 100%;
    padding-top: 100%;
    border-radius: 50%;
    background-color: #333;
    background-size: cover;
    margin: auto;
  }
  
  /* CONTROL */
  .control {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 18px 0 8px 0;
  }
  
  .control .btn {
    color: #666;
    padding: 18px;
    font-size: 18px;
  }
  
  .control .btn.active {
    color: var(--primary-color);
  }
  
  .control .btn-toggle-play {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    font-size: 24px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
  }
  
  .progress {
    border: solid 1px #C4D8E8;
    border-radius: 8px;
    height: 7px;
    width: 100%;
    outline: none;
    transition:all 450ms ease-in;
    -webkit-appearance: none;
    background-color: #EC1F55;
  }

    .progress::-webkit-slider-thumb {
      background-color:#ec1f55;
      cursor: pointer;
  }
  
  /* .progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-image: url('./assets/image/song1.png');
    cursor: pointer;
  } */
  
  /* PLAYLIST */
  .playlist {
    margin-top: 415px;
    padding: 12px;
  }
  
  .song {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    background-color: #fff;
    padding: 8px 16px;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  }
  
  .song.active {
    background-color: var(--primary-color);
  }
  
  .song:active {
    opacity: 0.8;
  }
  
  .song.active .option,
  .song.active .author,
  .song.active .title {
    color: #fff;
  }
  
  .song .thumb {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-size: cover;
    margin: 0 8px;
  }
  
  .song .body {
    flex: 1;
    padding: 0 16px;
  }
  
  .song .title {
    font-size: 18px;
    color: var(--text-color);
  }
  
  .song .author {
    font-size: 12px;
    color: #999;
  }
  
  .song .option {
    padding: 16px 8px;
    color: #999;
    font-size: 18px;
  }

  .btn-prev:active,.btn-next:active,.btn-minus:active,.btn-plus:active{
    color:black;
  }

  .btn-minus{
    background-color:#EC1F55;
    color:white;
    border: none;
    float: left;
    font-size:30px;
    padding: 3px 7px;
    border-radius: 50%;
  }
  .btn-plus{
    background-color:#EC1F55;
    color:white;
    border: none;
    float: right;
    font-size:30px;
    padding: 3px 7px;
    border-radius: 50%;
  }
  #result {
    position: absolute;
    top:0;
    left: 49%;
    font-size: 13px;
  }
  .song{
    border:1px solid #F5F5F5;
  }
  .song:hover{
    cursor: pointer;
    border:1px solid #EC1F55;
  }
  .btn-repeat:hover, .btn-prev:hover, .btn-next:hover, .btn-random:hover, .btn-minus:hover, .btn-plus:hover,.btn-toggle-play:hover{
    cursor: pointer;
  }

  select{
    border: none;
  }
  select:hover{
    cursor: pointer;
  }

  .info{
    display: flex;
    justify-content: space-between;
  }
  .info #time{
    text-align: right;
    flex:1;
  }
  .info #sound{
    text-align: center;
    flex:1;
  }
  .info #speed{
    flex:1;
  }

  .info #sound {
    height: 30px;
    background-color: #fff;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    cursor: pointer;
}

  .chart-layout__item {
    width: 2px;
    color: #fff;
    text-align: center;
    height: var(--percent);
    background-color: #05cbfd ;
    animation: growth ease-in 1s;
    align-self: center;
    transition: all 0.7s;
}
@keyframes growth {
  from{
      height: calc(var(--percent) - 50%);
  }
  to{
      height: calc(var(--percent));
  }
}

.heart{
  align-self : flex-end;
}